<div class="chat-header">
  <div class="header-title">
    hogefuga
  </div>
  <div class="header-btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="messages">
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
  <div class="message">
    <a class="message-name">Tom</a><a class="message-day">2020/3/31(Wed) 12:43:30</a>
    <p class="message-text">おはよう</p>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" type="text" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" placeholder="送信">
</div>