<div class="message">
  <div class="message">
    <a class="message-name"><%= message.user.name %></a><a class="message-day"><%=l message.created_at %></a>
    <p class="message-text"><%= message.content %></p>
  </div>
</div>